{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/news/news_get.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/panel/panel.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>{{ data.title }}</title>
</head>
<body>
    <div class="menu">
        {% if user.is_authenticated %}
            <a id="profilebtn" class="btn btn-warning" href="{% url 'profile' %}">{{ user.username }}</a>
        {% else %}
            <a id="login" class="btn btn-success" href="{% url 'login' %}">Войти</a>
        {% endif %}
        <a id="homebtn" class="btn btn-info" href="{% url 'index' %}">Главное меню</a>
        <a id="newsbtn" class="btn btn-dark" href="{% url 'news' %}">Новости</a>
    </div><hr>

    <main>
        <div id="content" class="container">
            <label class="title-">{{ data.title }}</label><br>
            <hr>
            <pre class="text-">{{ data.full_text }}</pre><br>
        </div>
    </main>

</body>
</html>